<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/user/logout">Log out</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Welcome to Your Email Dashboard</h1>
        <div class="links">
            <a href="/auth/signin" class="btn">Sign in to Outlook</a>
            <a href="/mail/inbox?page=1" class="btn">Go to Inbox</a>
        </div>
    </div>
</body>

</html>